
<% if user_signed_in? %>
<div class="parallax mb-2 mw-100">
<h1 class="text-white d-flex justify-content-center text-wrap heading_two">Capture It All</h1>
  <form class="d-flex container col-sm-3 justify-content-center">
          <%= search_form_for @q do |f| %>
                         <%= f.search_field :tags_name_cont ,class:"form-control searchBtn mx-2",placeholder: "Search By Tags"%> 
                         <%= f.submit class:"btn btn-sm btn-outline-light"%>
            <%end  %>
    </form>
<h6 class="text-white d-flex justify-content-center text-wrap heading ">Galleries Available</h6></div>
<%else%>
<div class="parallax mb-2 mw-100">
<h1 class="text-white d-flex justify-content-center text-wrap heading_two">Capture It All</h1>
  <form class="d-flex container col-sm-3 justify-content-center">
          <%= search_form_for @q do |f| %>
                         <%= f.search_field :tags_name_cont ,class:"form-control searchBtn mx-2",placeholder: "Search By Tags"%> 
                         <%= f.submit class:"btn btn-sm btn-outline-light"%>
            <%end  %>
    </form>
<h6 class="text-white d-flex justify-content-center text-wrap heading">Galleries Published</h6>
</div>
<%end%>
<div class="container my-4">
<div class="row">
  <% @galeries.each do |galery| %>
   		 <% if user_signed_in? %>
          <% if galery.user == current_user %>
		        <div class="col-lg-4 col-md-12 col-sm-12">
		          <div class="card my-4 border-dark" >
               <div class="card">
                   
                <div class="card-header text-uppercase d-flex justify-content-center text-wrap border-dark"><b><%= galery.gallery_title %></b></div>
              <% if galery.images.attached? %>
                 <p class="card-text hat"><%= image_tag(galery.images.first,class:"img-thumbnail") %></p> 
                 <p class="card-text cat"><%= image_tag(galery.images.last,class:"img-thumbnail") %></p> 
              <%end%> 
              <div class="card-body text-capitalize">
               
                <p class="card-text"><%= galery.description %></p> 
                <p class="card-text text-wrap fs-6"><b>Tags: </b><%= galery.all_tag %></p> 
	          	</div> 
              <div class="card-footer btn-toolbar justify-content-between border-dark">
               <span class="card-text text-wrap fs-6 text-capitalize"><b>Published: </b><%= galery.published %></span>
                               <div class="btn-group btn-group-sm">
                                 <%= link_to 'Show', galery,class:"btn btn-success " %>
                                 <%= link_to 'Edit', edit_galery_path(galery),class:"btn btn-dark" %></td>
                                 <%= link_to 'Destroy', galery,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                               </div> 
              </div>
	        	</div>
	        </div>
        </div>
       <%end%>
      <%else%>
  <% if galery.published? %>
		        <div class="col-lg-4 col-md-12 col-sm-12">
		          <div class="card my-4 border-dark" >
               <div class="card">
                <div class="card-header d-flex justify-content-center text-wrap border-dark"><b><%= galery.gallery_title %></b></div>
              <% if galery.images.attached? %>
                 <p class="card-text hat"><%= image_tag(galery.images.first,class:"img-thumbnail") %></p> 
                 <p class="card-text cat"><%= image_tag(galery.images.last,class:"img-thumbnail") %></p> 
              <%end%> 
              <div class="card-body text-capitalize">
              
                <p class="card-text mt-2"><%= galery.description %></p> 
                  <span class="card-text text-wrap fs-6 text-capitalize"><b>Tags: </b><%= galery.all_tag %></span>
	          	</div> 
              <div class="card-footer btn-toolbar justify-content-end border-dark">
              
                               <div class="btn-group btn-group-sm ">
                                 <%= link_to 'Show Images', galery,class:"btn btn-success " %>
                               </div> 
              </div>
	        	</div>
	        </div>
        </div>
  <%end%>
  <%end%>
  <%end%>

</div>
</div>



